
.modal{
  color: #3D3D3D;
  height: 90% !important;
  max-height: 90% !important;
}

.mini-screen {
  height: 100px;
  background-color: #3D3D3D;
  margin: 4%;
  color: white;
  text-align: right;
  line-height: 10;
  padding: 10px;
}

#calculator{
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 10px;
  width: 38%;
  margin-left: 31%;
  margin-right: 31%;
  background-color: lightblue;
}

.bouttonsCalc{
  text-align: center;
}



.btnCalcOperator {
  background: #4d90fe;
  border-color: #3079ed;
  font-weight: bold;
}

.btnCalcOperator:hover, .btnCalcOperator:visited, .btnCalcOperator:focus {
  background: #3079ed;
  border-color: #3079ed;
}

.btnCalcNum {
  background: white;
  border-color: white;
  font-weight: bold;
  color: #3079ed;
}

.btnCalcNum:hover, .btnCalcNum:visited, .btnCalcNum:focus {
  background: white;
  border-color: white;
}
