<div id="paiement" class="modal modal-fixed-footer">
  <div class="row">
    <div id="calculator">
        <div class="volume-button-lg"></div>
        <div class="mini-screen">{{history}}</div>
        <div class="bouttonsCalc">
          <div class="row" >
            <span class="btn btnCalcOperator" href="#" (click)="onClickClear()">C</span>
            <span class="btn btnCalcOperator" href="#" (click)="removeLast()"><</span>
            <span class="btn btnCalcOperator" href="#" (click)="calculate('/')">/</span>
            <span class="btn btnCalcOperator" href="#" (click)="calculate('+')">+</span>
          </div>
          <div class="row" >
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(7)">7</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(8)">8</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(9)">9</span>
            <span class="btn btnCalcOperator" href="#" (click)="calculate('-')">-</span>
          </div>
          <div class="row">
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(4)">4</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(5)">5</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(6)">6</span>
            <span class="btn btnCalcOperator" href="#" (click)="calculate('*')">*</span>
          </div>
          <div class="row" >
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(1)">1</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(2)">2</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(3)">3</span>
            <span class="btn btnCalcOperator" href="#" (click)="getTotal()">=</span>
          </div>
          <div class="row" >
            <span class="btn btnCalcNum" href="#"  (click)="addToCalculation('.')">.</span>
            <span class="btn btnCalcNum" href="#" (click)="addToCalculation(0)">0</span>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="validerCommande()" class="modal-action modal-close waves-effect waves-green btn-flat ">Valider</a>
  </div>
</div>

