<div class="modal fade" id="paiement" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <span class="montant total"> Reste à  payer: &euro;
					</span>
      </div>
      <div class="modal-body">
        <div id="container">
          <div id="calculator">
            <div id="header">
              <input type="text" id="number" value="0" autocomplete="off"
                     disabled />
            </div>
            <div id="body">
              <div class="buttons" style="visibility: hidden;"></div>
              <div class="buttons">CE</div>
              <div class="buttons">%</div>
              <div class="buttons">/</div>
              <div class="buttons">7</div>
              <div class="buttons">8</div>
              <div class="buttons">9</div>
              <div class="buttons">-</div>
              <div class="buttons">4</div>
              <div class="buttons">5</div>
              <div class="buttons">6</div>
              <div class="buttons">*</div>
              <div class="buttons">1</div>
              <div class="buttons">2</div>
              <div class="buttons">3</div>
              <div class="buttons">+</div>
              <div class="buttons">0</div>
              <div class="buttons">+/-</div>
              <div class="buttons">.</div>
              <div class="buttons">=</div>
            </div>
          </div>
        </div>

        <div class="paiement">
          <img onclick="payer('espece')" alt=""
               src="./../../assets/paiement/espece.jpg" class="img-thumbnail">
          <img onclick="payer('cb')" alt=""
               src="./../../assets/paiement/Logo_CB.png" class="img-thumbnail">
          <img onclick="payer('tr')" alt="" src="./../../assets/paiement/tr.png"
               class="img-thumbnail">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

