
<div class="row">
  <div class="col s7 menu">
      <div class="col s12">
        <div class="col s2">
          <img src="./../../assets/Plat/cPizza.png" class="responsive-img img-thumbnail">
        </div>
        <div class="col s2 card gradient-45deg-green-teal gradient-shadow min-height-70 white-text">
          <h6>Pizzas 29cm</h6>
        </div>
        <div class="col s2 card gradient-45deg-green-teal gradient-shadow min-height-70 white-text">
          <h6>G Pâtes</h6>
        </div>
        <div class="col s2 card gradient-45deg-green-teal gradient-shadow min-height-70 white-text">
          <h6>P Pâtes</h6>
        </div>
        <div class="col s2 card gradient-45deg-green-teal gradient-shadow min-height-70 white-text">
          <h6>Entrées</h6>
        </div>
        <div class="col s2 card gradient-45deg-green-teal gradient-shadow min-height-70 white-text">
          <h6>Desserts</h6>
        </div>
      </div>

      <div class="col s2">
        <div class="row categorieBoisson">
          <img src="./../../assets/Boisson/cSofts.png" class="responsive-img img-thumbnail">
        </div>
        <div class="row categorieBoisson">
          <img src="./../../assets/Boisson/cBieres.png" class="responsive-img img-thumbnail">
        </div>
        <div class="row categorieBoisson">
          <img src="./../../assets/Boisson/cVins.jpg" class="responsive-img img-thumbnail">
        </div>
        <div class="row categorieBoisson">
          <img src="./../../assets/Boisson/cAperitifs.png" class="responsive-img img-thumbnail">
        </div>
        <div class="row categorieBoisson">
          <img src="./../../assets/Boisson/cChaudes.jpg" class="responsive-img img-thumbnail">
        </div>
        <div class="row categorieBoisson">
          <img src="./../../assets/Boisson/cBieres.png" class="responsive-img img-thumbnail">
        </div>
      </div>
    <div class="col s10">

      liste des item
    </div>

  </div>

 <!-- <div class="col s7 menu">
      <ul class="tabs tabs-fixed-width">
        <li  class="tab col s6"><a class="active" id="tabBoisson" href="#boissons">Boissons</a></li>
        <li  class="tab col s6"><a id="tabPlat" href="#plats">Plats</a></li>
      </ul>
      <div id="boissons" class="row">
        <ul class="tabs">
          <li class="tab col s2"><a href="#softs">Softs</a></li>
          <li class="tab col s2"><a href="#bieres">Bières</a></li>
          <li class="tab col s2"><a href="#vins">Vins</a></li>
          <li class="tab col s2"><a href="#aperitifs">Apéritifs</a></li>
          <li class="tab col s2"><a href="#chaudes">Chaudes</a></li>
          <li class="tab col s2"><a href="#digestifs">Digestifs</a></li>
        </ul>
        <div id="softs">
          <div class="col s2 article"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of softs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/soft/{{boisson.logo}}">
            </a>
            <div class="col s12 item">
              <span (click)="ajouterBoisson(boisson.idBoisson)">{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="bieres">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of bieres">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/biere/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="vins">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of vins">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/vin/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="aperitifs">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of aperitifs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/aperitif/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="chaudes">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of chaudes">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/chaude/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="digestifs">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of digestifs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/digestif/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
      </div>
      <div id="plats" class="col s12">Test 2</div>
  </div>
-->
  <div class="col s5 note">
    <table class="table striped responsive-table">
      <thead>
      <tr>
        <th>Libelle</th>
        <th >Quantité</th>
        <th>P/U</th>
        <th>Ajouter</th>
        <th>Retirer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let boisson of table.addition.tabBoissons">
        <td>{{boisson[0].libelleBoisson}}</td>
        <td>{{boisson[1]}}</td>
        <td>{{boisson[0].prix}}</td>
        <td><button (click)="ajouterBoisson(boisson[0].idBoisson)"  class="btn waves-effect waves-green">+</button> </td>
        <td><button (click)="supprimerBoisson(boisson[0].idBoisson)" class="btn waves-effect waves-red">-</button> </td>
      </tr>
      <tr *ngFor="let plat of table.addition.tabPlats">
        <td>{{plat[0].libellePlat}}</td>
        <td>{{plat[1]}}</td>
        <td>{{plat[0].prix}}</td>
        <td><button (click)="ajouterPlat(plat[0].idPlat)"  class="btn waves-effect waves-green">+</button> </td>
        <td><button (click)="supprimerPlat(plat[0].idPlat)" class="btn waves-effect waves-red">-</button> </td>
      </tr>
      </tbody>
    </table>
</div>

<!--
<div class="col-md-6">
  <ul class="nav nav-tabs">
    <li class="active" id="nav-boissons"><a data-toggle="tab" href="#boissons">Boissons</a></li>
    <li id="nav-plats"><a data-toggle="tab" href="#plats">Plats</a></li>
  </ul>

  <div class="tab-content">
    <div id="boissons" class="tab-pane fade in active">
      <ul class="nav nav-tabs">
        <li class="active categoriesBoissons"><a data-toggle="tab" href="#softs">Softs</a></li>
        <li class="categoriesBoissons"><a data-toggle="tab" href="#bieres">Bières</a></li>
        <li class="categoriesBoissons"><a data-toggle="tab" href="#vins">Vins</a></li>
        <li class="categoriesBoissons"><a data-toggle="tab" href="#aperitifs">Apéritifs</a></li>
        <li class="categoriesBoissons"><a data-toggle="tab" href="#chaudes">Chaudes</a></li>
        <li class="categoriesBoissons"><a data-toggle="tab" href="#digestifs">Digestifs</a></li>
      </ul>

      <div class="tab-content">
        <div id="softs" class="tab-pane fade in active">
            <div class="col-md-2 col-sm-4 col-xs-4"
                 style="margin-top: 15px; text-align: center;" *ngFor="let boisson of softs">
              <a (click)="ajouterBoisson(boisson.idBoisson)">
                <img class="img-responsive img-thumbnail"
                     src="./../../assets/Boisson/soft/{{boisson.logo}}">
              </a>
              <div class="col-md-12 item">
                <span>{{boisson.libelleBoisson}}</span>
              </div>
            </div>
        </div>
        <div id="bieres" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of bieres">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="img-responsive img-thumbnail"
                   src="./../../assets/Boisson/biere/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="vins" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of vins">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img   class="img-responsive img-thumbnail"
                   src="./../../assets/Boisson/vin/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="aperitifs" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of aperitifs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="img-responsive img-thumbnail"
                   src="./../../assets/Boisson/aperitif/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="chaudes" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of chaudes">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="img-responsive img-thumbnail"
                   src="./../../assets/Boisson/chaude/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="digestifs" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of digestifs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="img-responsive img-thumbnail"
                   src="./../../assets/Boisson/digestif/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="plats" class="tab-pane fade">
      <ul class="nav nav-tabs">
        <li class="active categoriesPlats"><a data-toggle="tab" href="#pizzas">Pizzas</a></li>
        <li class="categoriesPlats"><a data-toggle="tab" href="#pates">Pâtes</a></li>
        <li class="categoriesPlats"><a data-toggle="tab" href="#entrees">Entrées</a></li>
        <li class="categoriesPlats"><a data-toggle="tab" href="#desserts">Desserts</a></li>
      </ul>
      <div class="tab-content">
        <div id="pizzas" class="tab-pane fade in active">
          <ul class="nav nav-tabs">
            <li class="active categoriesPizzas"><a data-toggle="tab" href="#grandesPi">Grandes</a></li>
            <li class="categoriesPizzas"><a data-toggle="tab" href="#petitesPi">Petites</a></li>
          </ul>
          <div class="tab-content">
            <div id="grandesPi" class="tab-pane fade in active">
              <div class="col-md-2 col-sm-4 col-xs-4"
                   style="margin-top: 15px; text-align: center;" *ngFor="let plat of gpizzas">
                <a (click)="ajouterPlat(plat.idPlat)">
                  <img class="img-responsive img-thumbnail"
                       src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
                </a>
                <div class="col-md-12 item">
                  <span>{{plat.libellePlat}}</span>
                </div>
              </div>
            </div>
            <div id="petitesPi" class="tab-pane fade">
              <div class="col-md-2 col-sm-4 col-xs-4"
                   style="margin-top: 15px; text-align: center;" *ngFor="let plat of ppizzas">
                <a (click)="ajouterPlat(plat.idPlat)">
                  <img class="img-responsive img-thumbnail"
                       src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
                </a>
                <div class="col-md-12 item">
                  <span>{{plat.libellePlat}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="pates" class="tab-pane fade ">
          <ul class="nav nav-tabs">
            <li class="active categoriesPizzas"><a data-toggle="tab" href="#GrandesPa">Grandes</a></li>
            <li class="categoriesPizzas"><a data-toggle="tab" href="#PetitesPa">Petites</a></li>
          </ul>
          <div class="tab-content">
            <div id="GrandesPa" class="tab-pane fade in active">
              <div class="col-md-2 col-sm-4 col-xs-4"
                   style="margin-top: 15px; text-align: center;" *ngFor="let plat of gpates">
                <a (click)="ajouterPlat(plat.idPlat)">
                  <img class="img-responsive img-thumbnail"
                       src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
                </a>
                <div class="col-md-12 item">
                  <span>{{plat.libellePlat}}</span>
                </div>
              </div>
            </div>
            <div id="PetitesPa" class="tab-pane fade">
              <div class="col-md-2 col-sm-4 col-xs-4"
                   style="margin-top: 15px; text-align: center;" *ngFor="let plat of ppates">
                <a (click)="ajouterPlat(plat.idPlat)">
                  <img class="img-responsive img-thumbnail"
                       src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
                </a>
                <div class="col-md-12 item">
                  <span>{{plat.libellePlat}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="entrees" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let plat of entrees">
            <a (click)="ajouterPlat(plat.idPlat)">
              <img class="img-responsive img-thumbnail"
                   src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{plat.libellePlat}}</span>
            </div>
          </div>
        </div>
        <div id="desserts" class="tab-pane fade">
          <div class="col-md-2 col-sm-4 col-xs-4"
               style="margin-top: 15px; text-align: center;" *ngFor="let plat of desserts">
            <a (click)="ajouterPlat(plat.idPlat)">
              <img class="img-responsive img-thumbnail"
                   src="./../../assets/Plat/dessert/{{plat.photo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{plat.libellePlat}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-6" style="padding: 0px;">
  <table class="table table-striped">
    <thead>
    <tr>
      <th
        style="text-align: left; width: 30%; border-radius: 10px 0px 0px 0px">Libelle</th>
      <th style="width: 15%;">Quantité</th>
      <th style="width: 15%;">P/U</th>
      <th style="width: 15%;">Ajouter</th>
      <th style="width: 15%; border-radius: 0px 10px 0px 0px">Retirer</th>
    </tr>
    </thead>
  </table>

  <div class="col-md-12 note">
    <table class="table table-striped table-condensed">
      <tbody>
        <tr *ngFor="let boisson of table.addition.tabBoissons">
          <td>{{boisson[0].libelleBoisson}}</td>
          <td>{{boisson[1]}}</td>
          <td>{{boisson[0].prix}}</td>
          <td><button (click)="ajouterBoisson(boisson[0].idBoisson)"  class="btn btn-xs btn-success">+</button> </td>
          <td><button (click)="supprimerBoisson(boisson[0].idBoisson)" class="btn btn-xs btn-danger">-</button> </td>
        </tr>
        <tr *ngFor="let plat of table.addition.tabPlats">
          <td>{{plat[0].libellePlat}}</td>
          <td>{{plat[1]}}</td>
          <td>{{plat[0].prix}}</td>
          <td><button (click)="ajouterPlat(plat[0].idPlat)"  class="btn btn-xs btn-success">+</button> </td>
          <td><button (click)="supprimerPlat(plat[0].idPlat)" class="btn btn-xs btn-danger">-</button> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 montant">

    <span class="total"> Total: {{table.addition.montantTotal}}
			</span>
  </div>
  <div class="col-md-12 center">
    <div>
      <img
        alt="" (click)="payerAddition('espece')"
        src="./../../assets/paiement/espece.jpg"
        class="img-responsive img-thumbnail">
      <img (click)="payerAddition('cb')"
           alt="" src="./../../assets/paiement/Logo_CB.png"
           class="img-responsive img-thumbnail">
      <img
        alt="" (click)="payerAddition('tr')" src="./../../assets/paiement/tr.png"
        class="img-responsive  img-thumbnail">

      <button class="btn btn-lg btn-success" data-toggle="modal"
              data-target="#paiement">Payer</button>

      <a href="" routerLink="/payer"><button
        class="btn btn-lg btn-default">Diviser addition</button></a>
    </div>

  </div>
</div>
<app-calculatrice></app-calculatrice>

-->


