
<div class="row">
 <div class="col s7 menu" id="menu">
      <ul class="tabs tabs-fixed-width">
        <li  class="tab col s6"><a class="active" id="tabBoisson" href="#boissons">Boissons</a></li>
        <li  class="tab col s6"><a id="tabPlat" href="#plats">Plats</a></li>
      </ul>
      <div id="boissons" class="row">
        <ul class="tabs">
          <li class="tab col s2"><a href="#softs">Softs</a></li>
          <li class="tab col s2"><a href="#bieres">Bières</a></li>
          <li class="tab col s2"><a href="#vins">Vins</a></li>
          <li class="tab col s2"><a href="#aperitifs">Apéritifs</a></li>
          <li class="tab col s2"><a href="#chaudes">Chaudes</a></li>
          <li class="tab col s2"><a href="#digestifs">Digestifs</a></li>
        </ul>
        <div id="softs">
          <div class="col s2 article"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of softs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/soft/{{boisson.logo}}">
            </a>
            <div class="col s12 item">
              <span (click)="ajouterBoisson(boisson.idBoisson)">{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="bieres">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of bieres">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/biere/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="vins">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of vins">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/vin/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="aperitifs">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of aperitifs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/aperitif/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="chaudes">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of chaudes">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/chaude/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
        <div id="digestifs">
          <div class="col s2"
               style="margin-top: 15px; text-align: center;" *ngFor="let boisson of digestifs">
            <a (click)="ajouterBoisson(boisson.idBoisson)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Boisson/digestif/{{boisson.logo}}">
            </a>
            <div class="col-md-12 item">
              <span>{{boisson.libelleBoisson}}</span>
            </div>
          </div>
        </div>
      </div>
      <div id="plats" class="row">
        <ul class="tabs">
          <li class="tab col s2"><a href="#gpizzas">Pizzas 33cm</a></li>
          <li class="tab col s2"><a href="#ppizzas">Pizzas 29cm</a></li>
          <li class="tab col s2"><a href="#pates">Pâtes</a></li>
          <li class="tab col s2"><a href="#patesEnfant">Pâtes enfant</a></li>
          <li class="tab col s2"><a href="#entrees">Entrées</a></li>
          <li class="tab col s2"><a href="#desserts">Desserts</a></li>
        </ul>
        <div id="gpizzas">
          <div class="col s2 article"
               style="margin-top: 15px; text-align: center;" *ngFor="let plat of gpizzas">
            <a (click)="ajouterPlat(plat.idPlat)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
            </a>
            <div class="col s12 item">
              <span (click)="ajouterPlat(plat.idPlat)">{{plat.libellePlat}}</span>
            </div>
          </div>
        </div>
        <div id="ppizzas">
          <div class="col s2 article"
               style="margin-top: 15px; text-align: center;" *ngFor="let plat of ppizzas">
            <a (click)="ajouterPlat(plat.idPlat)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Plat/plat/pizza/{{plat.photo}}">
            </a>
            <div class="col s12 item">
              <span (click)="ajouterPlat(plat.idPlat)">{{plat.libellePlat}}</span>
            </div>
          </div>
        </div>
        <div id="pates">

        </div>
        <div id="entrees">
          <div class="col s2 article"
               style="margin-top: 15px; text-align: center;" *ngFor="let plat of entrees">
            <a (click)="ajouterPlat(plat.idPlat)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Plat/entree/chaude/{{plat.photo}}">
            </a>
            <div class="col s12 item">
              <span (click)="ajouterPlat(plat.idPlat)">{{plat.libellePlat}}</span>
            </div>
          </div>
      </div>
        <div id="desserts">
          <div class="col s2 article"
               style="margin-top: 15px; text-align: center;" *ngFor="let plat of desserts">
            <a (click)="ajouterPlat(plat.idPlat)">
              <img class="responsive-img img-thumbnail"
                   src="./../../assets/Plat/dessert/{{plat.photo}}">
            </a>
            <div class="col s12 item">
              <span (click)="ajouterPlat(plat.idPlat)">{{plat.libellePlat}}</span>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="col s5 note" >
    <div id="note">
      <table class="table striped responsive-table">
        <thead>
        <tr>
          <th class="libelle">Libelle</th>
          <th >Quantité</th>
          <th>P/U</th>
          <th>Ajouter</th>
          <th>Retirer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let boisson of table.addition.tabBoissons">
          <td class="libelle">{{boisson[0].libelleBoisson}}</td>
          <td>{{boisson[1]}}</td>
          <td>{{boisson[0].prix}}</td>
          <td><button (click)="ajouterBoisson(boisson[0].idBoisson)"  class="boutton btn-success">+</button> </td>
          <td><button (click)="supprimerBoisson(boisson[0].idBoisson)" class="boutton btn-danger">-</button> </td>
        </tr>
        <tr *ngFor="let plat of table.addition.tabPlats">
          <td class="libelle">{{plat[0].libellePlat}}</td>
          <td>{{plat[1]}}</td>
          <td>{{plat[0].prix}}</td>
          <td><button (click)="ajouterPlat(plat[0].idPlat)"  class="boutton btn-success">+</button> </td>
          <td><button (click)="supprimerPlat(plat[0].idPlat)" class="boutton btn-danger">-</button> </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col m12 montant">
      <div class="col m12">
        <span class="total"> Total: {{table.addition.montantTotal}} €   </span>
      </div>
      <hr>
      <div class="col m2">
        <img
          alt="" (click)="payerAddition('espece')"
          src="./../../assets/paiement/espece.jpg"
          class="responsive-img img-thumbnail">
      </div>
      <div class="col m2">
        <img (click)="payerAddition('cb')"
             alt="" src="./../../assets/paiement/Logo_CB.png"
             class="responsive-img img-thumbnail">
      </div>
      <div class="col m2">
        <img
          alt="" (click)="payerAddition('tr')" src="./../../assets/paiement/tr.png"
          class="responsive-img  img-thumbnail">
      </div>
      <div class="col m3">
        <button class="boutton btn-primary btn-lg" data-toggle="modal"
                data-target="#paiement">Calculatrice</button>
      </div>
      <div class="col m3">
        <a href="" routerLink="/payer"><button
          class="boutton btn-default btn-lg">Diviser</button></a>
      </div>
    </div>
</div>
</div>


