<div id="modalCreation" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nouveau plat</h4>
    <div class="input-field col s6">
      <input [(ngModel)]="libelle" name="libelle" id="libelle" type="text" class="validate">
      <label class="active" for="libelle">Libellé</label>
    </div>
    <div class="input-field col s6">
      <input [(ngModel)]="prix" name="prix" id="prix" type="text" class="validate">
      <label class="active" for="prix">Prix</label>
    </div>
    <div class="input-field col s6">
      <input [(ngModel)]="categorie" name="categorie" id="categorie" type="text" class="validate">
      <label class="active" for="categorie">Catégorie</label>
    </div>
    <div class="input-field col s6">
      <input [(ngModel)]="sousCategorie" name="sousCategorie" id="taille" type="text" class="validate">
      <label class="active" for="taille">Taille</label>
    </div>
    <div class="col s12">
      <h1 mat-dialog-title>Liste des ingrédients</h1>
      <div id="creation" class="chips">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="validerCommande()" class="modal-action modal-close waves-effect waves-green btn-flat ">Valider</a>
  </div>
</div>
