<div class="row">
  <div class="col m5 note">
    <div id="note">
      <table class="table responsive-table">
        <thead>
        <tr>
          <th class="libelle">Libelle</th>
          <th >Quantité</th>
          <th>P/U</th>
          <th>Ajouter</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let boisson of table.addition.tabBoissons">
          <td class="libelle">{{boisson[0].libelleBoisson}}</td>
          <td>{{boisson[1]}}</td>
          <td>{{boisson[0].prix}}</td>
          <td><button (click)="addBoissonToProvisoire(boisson[0].idBoisson)"  class="boutton btn-ajouter"> > </button> </td>
        </tr>
        <tr *ngFor="let plat of table.addition.tabPlats">
          <td class="libelle">{{plat[0].libellePlat}}</td>
          <td>{{plat[1]}}</td>
          <td>{{plat[0].prix}}</td>
          <td><button (click)="addPlatToProvisoire(plat[0].idPlat)"  class="boutton btn-ajouter"> > </button> </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>

  <div class="col m5 note" >
    <div id="noteProvisoire">
      <table class="table responsive-table">
        <thead>
        <tr>
          <th>Retirer</th>
          <th class="libelle">Libelle</th>
          <th >Quantité</th>
          <th>P/U</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let boisson of table.additionProvisoire.tabBoissons">
          <td><button (click)="addBoissonToAddition(boisson[0].idBoisson)"  class="boutton btn-retirer"> < </button> </td>
          <td class="libelle">{{boisson[0].libelleBoisson}}</td>
          <td>{{boisson[1]}}</td>
          <td>{{boisson[0].prix}}</td>
        </tr>
        <tr *ngFor="let plat of table.additionProvisoire.tabPlats">
          <td><button (click)="addPlatToAddition(plat[0].idPlat)"  class="boutton btn-retirer"> < </button> </td>
          <td class="libelle">{{plat[0].libellePlat}}</td>
          <td>{{plat[1]}}</td>
          <td>{{plat[0].prix}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col m12 montant">
      <div class="col m12">
        <span class="total"> Total: {{table.additionProvisoire.montantTotal}} €   </span>
      </div>
      <div class="col m2">
        <button (click)="payerAdditionProvisoire('espece')" class="btn bouttonESP">Esp</button>
      </div>
      <div class="col m2">
        <button (click)="payerAdditionProvisoire('cb')" class="btn bouttonCB">CB</button>
      </div>
      <div class="col m2">
        <button (click)="payerAdditionProvisoire('tr')" class="btn bouttonTR">TR</button>
      </div>
      <div class="col m3">
        <button class="btn bouttonBW" data-toggle="modal"
                data-target="#paiement">Calc</button>
      </div>
      <div class="col m3">
        <a href="" routerLink="/table"><button
          class="btn bouttonWB">Retour</button></a>
      </div>
    </div>
  </div>
</div>
