/* You can add global styles to this file, and also import other style files */
@CHARSET "UTF-8";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
 /* background-color: #eee;*/
}

#listDesBoissons{
  padding: 10px;
  border-right: 3px solid #3a7bd5;
}


#listDesPlats{
  border-bottom: 3px solid #3a7bd5;
}

#note, #noteProvisoire{
  overflow-y: scroll;
}

.note{
  border-radius: 10px 10px 0 0 ;
  background-color: #EFEFEF;
  margin-top: 20px;
}

.categorieBoisson{
  margin-bottom: 5px;
}
#plan-restaurant{
  background: url(./assets/plan2.png);
  height: 467px;
  width: 940px;
}

#rang1{
  margin-top: 20px;
}

#rang2{
  margin-top: 80px;
}

table.striped > tbody > tr:nth-child(odd) {
  background-image: linear-gradient(to right, #3a7bd5 0%, #75a2e1 100%, #3a7bd5 100%);
}

table.striped > tbody > tr:nth-child(odd) td{
  color: white !important;
}

td{
  font-weight: 500;
  color: #3D3D3D;
  padding: 2px !important;
  text-align: center !important;
}

th{
  color: #3D3D3D;
  text-align: center !important;
}

tr{background-color: white;}

thead {
  background-color: white;
}

.libelle{
  text-align: left !important;
}


.total {
  font-size: 25px;
  float: right;
  color: #d43f3a;
  margin-right: 30px;
}

span{
  font-size:10px; font-weight:bolder;
}

h1{
  margin:5px;
}

#boissons{

}


#listeItems {
  overflow-y: scroll;
}

.menu {
  margin-top: 20px;
  padding: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px;
  background-color: #F5F5F5;
  border-radius: 10px 10px 0 0;
  overflow-y: scroll;
}

.row .col.s7 {
  width: 56.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.tabs{
  background-color: transparent;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0px 0px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.tabs .tab a {
  color: #3D3D3D;
  background-color: rgba(255,255,255,1) !important;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
  font-weight: 500;
  border: 1px solid #eee;
}

.tabs .tab a.active {
  /*background-color: #3a7bd5;*/
  background-image: linear-gradient(to right, #3a7bd5 0%, #75a2e1 100%, #3a7bd5 100%);
  color: white;
}

.tabs .tab a:hover {
  background-image: linear-gradient(to right, #b0caee 0%, #d7e4f6 100%, #b0caee 100%);
  color: white;
}



.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 0px;
  background-color: white;
  will-change: left, right;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}


.item{
  margin-top: -7px;
  border-radius: 0px 0px 4px 4px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to right, #3a7bd5 0%, #75a2e1 100%, #3a7bd5 100%);
  box-shadow: 0px 1px 7px grey;
}


img{
  box-shadow: 0px 0px 12px grey;
}

nav {
  color: #fff;
  background-image: linear-gradient(to right, #3a7bd5 0%, #75a2e1 100%, #3a7bd5 100%);
  width: 100%;
  height: 56px;
  line-height: 56px;
}

.breadcrumb:before {
  content: '/';
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#tabBoisson{
  border-radius: 10px 0px 0px 0px;
}

#tabPlat{
  border-radius: 0px 10px 0px 0px;
}

td {
  padding: 0px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}


.card {
  overflow: hidden;
}

h6{
  line-height: 70px;
}

.boutton {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
/**Breadcrumb

.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  padding: 0px;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}
.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}
.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}

.breadcrumb a.active, .breadcrumb a:hover{
  background: #333;
  background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow:
    2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);

  border-radius: 0 5px 0 50px;
}
.breadcrumb a:last-child:after {
  content: none;
}
.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}

*//*
.flat a, .flat a:after {
  background: white;
  color: black;
  transition: all 0.5s;
}
.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
  background: #9EEB62;
}
*/

