/* You can add global styles to this file, and also import other style files */
@CHARSET "UTF-8";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: white;
}

a {
  cursor: hand;
}

.text-center {
  text-align: center;
}

#listDesBoissons{
  padding: 10px;
  border-right: 3px solid #3a7bd5;
}



#listDesPlats{
  border-bottom: 3px solid #3a7bd5;
}

#note, #noteProvisoire{
  overflow-y: scroll;
}


.categorieBoisson{
  margin-bottom: 5px;
}


#rang1{
  margin-top: 20px;
}

#rang2{
  margin-top: 80px;
}


td{
  font-weight: 400;
  color: #424242;
  padding: 2px !important;
  text-align: center !important;
  border-bottom: 1px solid #f5f5f5 ;
}

th{
  color: #3D3D3D;
  text-align: center !important;
  font-weight: 500;
}


thead {
  background-color: #f5f5f5;
}

.libelle{
  text-align: left !important;
}


.total {
  font-size: 25px;
  float: right;
  margin: 5px 5px 10px 5px;
}

.total {
  background-color: #66bb6a;
  color: white;
  padding: 5px 15px 5px 15px;
}

span{
  font-size:10px; font-weight:bolder;
}

h1{
  margin:5px;
}




#listeItems {
  overflow-y: scroll;
}



.row .col.s7 {
  width: 56.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.tabs{
  background-color: transparent;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0px 0px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.tabs.tabs-fixed-width {
background-color: #f6f6f6;
}

.tabs .tab a {
  color: #8e8e8e;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
  border: 1px solid #eee;
}

.tabs .tab a.active {
  color: black;
  font-weight: 400;
}


.tabs .tab a:hover {
  color: #4d90fe;
  font-weight: 400;
}

#menu {
  margin: 10px 30px;
  padding: 0px;
  box-shadow: 0px 1px 4px lightgray;
}

#note {
  margin: 10px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 1px 4px lightgray;
}

#noteProvisoire {
  margin: 10px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 1px 4px lightgray;
}

.tabs .indicator {
  position: absolute;
  top: 0;
  height: 0px;
  background-color: red;
  will-change: left, right;
}


.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}


.item{
  margin-top: -7px;
  border-radius: 0px 0px 4px 4px;
  color: white;
  font-weight: bold;
  /*background-image: linear-gradient(to right, #3a7bd5 0%, #75a2e1 100%, #3a7bd5 100%);*/
  background-color: #4d90fe;
  box-shadow: 0px 1px 7px grey;
}


img{
  box-shadow: 0px 0px 12px grey;
}

nav {
  color: #fff;
  /*background-image: linear-gradient(to right, #3a7bd5 0%, #75a2e1 100%, #3a7bd5 100%);*/
  background-color: #3079ed;
  width: 100%;
  height: 56px;
  line-height: 56px;
}
.breadcrumb {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.breadcrumb:before {
  content: '/';
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}



td {
  padding: 0px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}


.card {
  overflow: hidden;
}

.card-salle {
  padding: 15px 30px;
  cursor: hand;
}

.card-salle a {
  cursor: hand;
}


h6{
  line-height: 70px;
}

.boutton {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.card-header {
 background-color: #3079ed;
  font-weight: 500;
  padding: 10px;
}

.card .card-content {
  padding: 0px 24px 24px 24px;
  border-radius: 0 0 2px 2px;
}

.prixCommande{
  text-align: right;
}

.heure{
  text-align: center;
}

.ajouterCommandeIcon{
  margin-top: 10px;
  margin-bottom: 5px;
}

.commentaireCommande{
  margin-bottom: 0px;
  margin-top: 10px;
  color: #3D3D3D;
  font-weight: 500;
}


.bouttonBW {
  background: #4d90fe;
  border-color: #3079ed;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.bouttonBW:hover, .bouttonBW:visited, .bouttonBW:focus {
  background: #3079ed;
  border-color: #3079ed;
}

.bouttonWB {
  background: white;
  border-color: white;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: #3079ed;
}

.bouttonESP {
  background-color: #2ecc71;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 0 0 0;
  min-width: 60px;
}

.bouttonESP:hover {
  background-color: #48E68B;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 0 0 0;
  min-width: 60px;
}

.bouttonCB {
   background: #e74c3c;
   font-weight: bold;
   color: white;
   padding-left: 15px;
   padding-right: 15px;
   margin: 10px 0 0 0;
  min-width: 60px;
 }

.bouttonCB:hover {
  background: #FF6656;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 0 0 0;
  min-width: 60px;
}

.bouttonTR {
  background: #e67e22;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 0 0 0;
  min-width: 60px;
}

.bouttonTR:hover {
  background: #FF983C;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px 0 0 0;
  min-width: 60px;
}



.bouttonWB:hover, .bouttonWB:visited, .bouttonWB:focus {
  background: white;
  border-color: white;
}


.btn-ajouter{
  background-color: #66bb6a ;
  padding: 0px 10px 0px 10px;
  border-radius: 0px;
  color: white;
  font-weight: 500;
}



.btn-retirer{
  background-color: #ef5350;
  padding: 0px 10px 0px 10px;
  border-radius: 0px;
  color: white;
  font-weight: 500;
}

.card-action{
  text-align: right;
}

.sousCategorie {
  border-bottom: 1px solid #3079ed;
  background-color: #f5f5f5;
}

#btnAddCommandeEmporter{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.card-item{
  text-align: center;
  font-size: 0.85em;
  font-weight: 500;
  border-left: 1px solid #f44336 ;
  margin-left: 1.6% !important;
  margin-right: 1.6%;
  height: 40px;
  line-height: 40px;
}

.item-1 {
  border-left: 2px solid #f4511e ;
}

.item-2 {
  border-left: 2px solid #1e88e5;
}

.item-3 {
  border-left: 2px solid #00897b ;
}

.item-4 {
  border-left: 2px solid #c0ca33 ;
}

.item-5 {
  border-left: 2px solid #fb8c00 ;
}

.item-6{
  border-left: 2px solid #5e35b1;
}


.card-item a {
  color: #616161;
  text-overflow: ellipsis;
  overflow: hidden;
}

.montant {
  margin-left: 10px !important;
  box-shadow: 0px 1px 4px lightgray;
  padding-bottom: 10px !important;
}

.item-list {
  margin-top: 15px;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  top:30px;
  right: 30px;

}
