<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nouvelle commande</h4>
    <div class="row">
      <form>
        <div class="input-field col s6">
          <input [(ngModel)]="nom" name="nom" id="nom" type="text" class="validate">
          <label for="nom">Nom de commande</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="heure" name="heure" id="heure" type="text" class="validate">
          <label for="heure">Heure</label>
        </div>
        <div class="col s12">
          <h5>Liste des plats</h5>
          <div class="chips" id="plat">
          </div>
        </div>
        <div class="col s12">
          <h5>Liste des boissons</h5>
          <div class="chips" id="boisson">
          </div>
        </div>
        <div class="input-field col m12">
          <input [(ngModel)]="commentaire" name="commentaire" id="commentaire" type="text" class="validate">
          <label for="commentaire">Commentaire</label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="validerCommande()" href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Valider</a>
  </div>
</div>
